---
---
@import "{{site.theme}}";

exerpt {
 border-top: 1px solid #bbb;
 display: block;
 margin-bottom: 16px;
}

postdiv {
 color: #bbb;
 padding: 0 16px;
}
postdate {
 color: #666;
}

#project_tagline {
 font-size: 10pt;
 letter-spacing: 0.1pt;
 margin: 0;
}

#project_title {
 margin: 0;
 padding: 0;
}

#header_links {
 font-size: 10pt;
}

#header_wrap {
 padding: 0;
}

#header_wrap .inner {
 padding: 32px 0 16px 0;
}

p.copyright {
 font-size: 8pt;
}

li.exerpt {
 list-style-type: none;
}
